{% extends 'base.html.twig' %}

{% block title %}New AvCountry{% endblock %}

{% block body %}
    <h1>Create new AvCountry</h1>

    {{ include('av_country/_form.html.twig') }}

    <a href="{{ path('app_av_country_index') }}"class="bg-blue-400 rounded p-2 m-2 text-white inline">Retour à la liste</a>
{% endblock %}
