{% extends 'base.html.twig' %}

{% block title %}New AvUser{% endblock %}

{% block body %}

    <h1>Créer un nouvel utilisateur</h1>
	
{% for message in app.flashes('success') %}
		<div class="bg-success">
			{{ message | join('<br>') }}
		</div>
	{% endfor %}
	
	{{ include('includes/success.html.twig') }}

    {{ include('av_user/_form.html.twig') }}

	

    <a href="{{ path('app_av_user_index') }}"  class="bg-blue-400 rounded p-2 m-2 text-white inline">Retour à la liste</a>

{% endblock %}
