{% extends 'base.html.twig' %}

{% block title %}New AvTravel{% endblock %}

{% block body %}
    <h1>Create new AvTravel</h1>

    {{ include('av_travel/_form.html.twig') }}

    <a href="{{ path('app_av_travel_index') }}">back to list</a>
{% endblock %}
