<!DOCTYPE html>
<html class="flex">
    {% include('includes/header.html.twig') %}
    
        
        
    <body class="body w-full min-h-full bg-white"
        <div class="container">
                   

            <main> 
                
                <div class="container2 mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
                {# <p>CONTENU</p> #}

                    {% block body %}
                    {% endblock %} 

                </div>
            </main>
        </div>    
    </body>

       
    
</html>