{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="titre bg-white shadow mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">  
        <h1 class="text-2xl font-bold tracking-tight text-gray-900">Accueil</h1>  
    </div>


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour !</h1>

    
</div>
{% endblock %}
